# **TRABALHO 3** MapReduce

* Antonia Raiane Santos Araujo Cruz
* Jerry Macedo

## **Contextualização**

...
Link dos datasets: https://drive.google.com/drive/mobile/folders/0BzwVBj1heLoReXVLaU51bTAxZ2M?usp=sharing

## Instalando as dependências

In [218]:
conda install -c conda-forge pyshark

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - pyshark


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-22.11.1              |   py39haa95532_1         944 KB
    ------------------------------------------------------------
                                           Total:         944 KB

The following packages will be UPDATED:

  conda                              22.11.0-py39haa95532_1 --> 22.11.1-py39haa95532_1



Downloading and Extracting Packages

conda-22.11.1        | 944 KB    |            |   0%
conda-22.11.1        | 944 KB    | 1          |   2%
conda-22.11.1        | 944 KB    | #####2     |  53%
conda-22.11.1        | 944 KB    | ########## | 100%
conda-22.11.1        | 944 KB    | ########## | 100%



Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

O PySpark está incluído nas versões oficiais do Spark disponíveis no site do Apache Spark

In [219]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [221]:
from pyspark.sql import SparkSession
from pyspark.sql.types import * 
from pyspark.sql.functions import *
import pandas as pd
from pyspark.sql import functions as F
from pyspark.sql.types import StringType

In [222]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master('local[*]') \
    .appName("TrabalhoMapReduce") \
    .config('spark.ui.port', '4050') \
    .getOrCreate()

In [223]:
spark

In [224]:
get_ipython().system_raw('./ngrok authtoken 2IRfN3QneaXPeU6WVg6RG7t4VSW_5MBGxxaW87GZ96ScHwxKd')
get_ipython().system_raw('./ngrok http 4041 &')

In [225]:
!curl -s http://localhost:4041/api/tunnels

{"tunnels":[{"name":"command_line","ID":"5b3ba83320ba15b6b17bc993b40511b8","uri":"/api/tunnels/command_line","public_url":"https://8fef-45-160-233-194.sa.ngrok.io","proto":"https","config":{"addr":"http://localhost:8888","inspect":true},"metrics":{"conns":{"count":1,"gauge":0,"rate1":3.5256690155395545e-166,"rate5":6.136732578501765e-36,"rate15":1.3617870228342213e-14,"p50":638207971400,"p90":638207971400,"p95":638207971400,"p99":638207971400},"http":{"count":8,"rate1":1.0199703080580756e-167,"rate5":1.3766498788837252e-35,"rate15":6.999322356435361e-14,"p50":80443950,"p90":367942800,"p95":367942800,"p99":367942800}}}],"uri":"/api/tunnels"}

## **Questões**

### Questão2) Dado um dataset com tweets relacionados à campanha eleitoral presidencial de 2014, responda:

Descrição:
- debate-tweets.tsv: http://lia.ufc.br/~igobrilhante/twitter-home/
- eiffel-tower-reviews.json: Cada linha é um son com representação do review

In [226]:
schemaDfDebate = StructType() \
      .add("id",LongType(),True) \
      .add("content",StringType(),True) \
      .add("coordinate_0",DoubleType(),True) \
      .add("coordiante_1",DoubleType(),True) \
      .add("retweeted",StringType(),True) \
      .add("tweet_id",LongType(),True) \
      .add("tweet_id_str",StringType(),True) \
      .add("created_at",StringType(),True) \
      .add("created_at_str",StringType(),True) \
      .add("in_reply_to_user_id",StringType(),True) \
      .add("lang",StringType(),True) \
      .add("place_name",StringType(),True) \
      .add("place_id",StringType(),True) \
      .add("place_bb_00",StringType(),True) \
      .add("place_bb_01",StringType(),True) \
      .add("place_bb_10",StringType(),True) \
      .add("place_bb_11",StringType(),True) \
      .add("place_bb_20",StringType(),True) \
      .add("place_bb_21",StringType(),True) \
      .add("place_bb_30",StringType(),True) \
      .add("place_bb_31",StringType(),True) \
      .add("place_type",StringType(),True) \
      .add("place_country_code",StringType(),True) \
      .add("place_country",StringType(),True) \
      .add("place_full_name",StringType(),True) \
      .add("user_name",StringType(),True) \
      .add("user_id",StringType(),True) \
      .add("user_id_str",StringType(),True) \
      .add("user_location",StringType(),True) \
      .add("user_friend_count",StringType(),True) \
      .add("user_created_at",StringType(),True) \
      .add("user_screen_name",StringType(),True)

In [227]:
dfDebate = spark.read.csv("debate-tweets.tsv",sep=r'\t',schema=schemaDfDebate)
dfDebate.printSchema()

root
 |-- id: long (nullable = true)
 |-- content: string (nullable = true)
 |-- coordinate_0: double (nullable = true)
 |-- coordiante_1: double (nullable = true)
 |-- retweeted: string (nullable = true)
 |-- tweet_id: long (nullable = true)
 |-- tweet_id_str: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- created_at_str: string (nullable = true)
 |-- in_reply_to_user_id: string (nullable = true)
 |-- lang: string (nullable = true)
 |-- place_name: string (nullable = true)
 |-- place_id: string (nullable = true)
 |-- place_bb_00: string (nullable = true)
 |-- place_bb_01: string (nullable = true)
 |-- place_bb_10: string (nullable = true)
 |-- place_bb_11: string (nullable = true)
 |-- place_bb_20: string (nullable = true)
 |-- place_bb_21: string (nullable = true)
 |-- place_bb_30: string (nullable = true)
 |-- place_bb_31: string (nullable = true)
 |-- place_type: string (nullable = true)
 |-- place_country_code: string (nullable = true)
 |-- place_country: string (nullable = true)
 |-- place_full_name: string (nullable = true)
 |-- user_name: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_id_str: string (nullable = true)
 |-- user_location: string (nullable = true)
 |-- user_friend_count: string (nullable = true)
 |-- user_created_at: string (nullable = true)
 |-- user_screen_name: string (nullable = true)

In [228]:
dfDebate

DataFrame[id: bigint, content: string, coordinate_0: double, coordiante_1: double, retweeted: string, tweet_id: bigint, tweet_id_str: string, created_at: string, created_at_str: string, in_reply_to_user_id: string, lang: string, place_name: string, place_id: string, place_bb_00: string, place_bb_01: string, place_bb_10: string, place_bb_11: string, place_bb_20: string, place_bb_21: string, place_bb_30: string, place_bb_31: string, place_type: string, place_country_code: string, place_country: string, place_full_name: string, user_name: string, user_id: string, user_id_str: string, user_location: string, user_friend_count: string, user_created_at: string, user_screen_name: string]

In [229]:
(dfDebate.count(), len(dfDebate.columns))

(7228127, 32)

In [230]:
dfDebate.limit(10).toPandas()

,id,content,coordinate_0,coordiante_1,retweeted,tweet_id,tweet_id_str,created_at,created_at_str,in_reply_to_user_id,...,place_country_code,place_country,place_full_name,user_name,user_id,user_id_str,user_location,user_friend_count,user_created_at,user_screen_name
0,522394422710136832,"@anacddd verdade, olha o site",-27.516566,-48.646082,False,522394422710136832,522394422710136832,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,303425830,...,None,None,None,Geovana Nunes,295414968,295414968,None,316,Mon May 09 00:12:02 +0000 2011,geovanannunes
1,522394422806581248,Que ñ*,-27.768328,-51.668323,False,522394422806581248,522394422806581248,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Rosane Fernandes,2409363642,2409363642,Cacique Doble RS,47,Mon Mar 24 18:06:40 +0000 2014,Rosane_fsf
2,522394422731100160,Vou quebrar a Bruna,-27.004640,-48.623519,False,522394422731100160,522394422731100160,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Bebel,162447082,162447082,None,513,Sat Jul 03 18:03:35 +0000 2010,_isarenata
3,522394422810783745,agora vou p segundo andar e depois p 3° 👏,-15.852082,-47.961413,False,522394422810783745,522394422810783745,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,tatá,387694391,387694391,None,347,Sun Oct 09 14:19:52 +0000 2011,thayflausino
4,522394423137943553,Me sinto tão bem - Mika #QueroNoTVZ,-3.755046,-38.566769,False,522394423137943553,522394423137943553,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Simone ♥ DDM's ♥,152792963,152792963,Fortaleza/Ceará,719,Sun Jun 06 22:15:22 +0000 2010,simoneesilva
5,522394423188271104,"Eu estou aqui, deixando a vida me guiar, não é...",-22.846869,-43.308830,False,522394423188271104,522394423188271104,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Gar6,749780077,749780077,Rio de Janeiro,356,Fri Aug 10 17:56:10 +0000 2012,juliagar6
6,522394423238606848,Quando vai embora tudo fica sem graça,-22.904301,-43.544403,False,522394423238606848,522394423238606848,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,Isa,2476253858,2476253858,None,164,Sun May 04 02:22:02 +0000 2014,isabelleecorrea
7,522394423528022016,@paynecaralhudo kkkkkk n n sou legal kkk,-23.509058,-46.968920,False,522394423528022016,522394423528022016,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,518826601,...,None,None,None,Júlio Lessa ✌,324937648,324937648,None,943,Mon Jun 27 13:28:08 +0000 2011,SiempreCtgLS
8,522394423632875521,Conceição da Barra acho que vou pra outro dia,-18.713338,-40.405779,False,522394423632875521,522394423632875521,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,None,...,None,None,None,♔Lu♔,536501962,536501962,Nova Venécia-Es,82,Sun Mar 25 17:45:22 +0000 2012,Hey_Marrenta
9,522394424010362881,@Maniavato te amo ♥,-23.064705,-45.717173,False,522394424010362881,522394424010362881,Wed Oct 15 14:31:50 +0000 2014,2014-10-15,542665678,...,None,None,None,queen,1414028317,1414028317,| no puteiro com a Ju. |,1911,Wed May 08 22:50:20 +0000 2013,ButeraCertified

In [231]:
dfDebate.select(dfDebate['user_created_at'], dfDebate['created_at']).show(5,truncate=False)

+------------------------------+------------------------------+
|user_created_at               |created_at                    |
+------------------------------+------------------------------+
|Mon May 09 00:12:02 +0000 2011|Wed Oct 15 14:31:50 +0000 2014|
|Mon Mar 24 18:06:40 +0000 2014|Wed Oct 15 14:31:50 +0000 2014|
|Sat Jul 03 18:03:35 +0000 2010|Wed Oct 15 14:31:50 +0000 2014|
|Sun Oct 09 14:19:52 +0000 2011|Wed Oct 15 14:31:50 +0000 2014|
|Sun Jun 06 22:15:22 +0000 2010|Wed Oct 15 14:31:50 +0000 2014|
+------------------------------+------------------------------+
only showing top 5 rows

In [232]:
from pyspark.sql.functions import col, udf, to_timestamp, hour,from_utc_timestamp, regexp_extract
from pyspark.sql.functions import to_timestamp
spark.conf.set("spark.sql.legacy.timeParserPolicy","LEGACY") 
dfDebateTimestamp=dfDebate.withColumn("timestamp",to_timestamp('created_at', 'EEE LLL d HH:mm:ss z yyyy'))
dfDebateFiltro=dfDebateTimestamp.select('content','created_at',"timestamp")

In [233]:
regexTimestamp = r'\[(\d{2}/\w{3}/\d{4}:\d{2}:\d{2}:\d{2} -\d{4})]'
regexHashtag="^#\w+|\s#\w+"
dfHashtag=dfDebateFiltro.filter(dfDebateFiltro["content"].rlike(regexHashtag)).withColumn("hashtag",regexp_extract("content",hashtag_regex,0))\
.withColumn("hora",hour("timestamp"))
dfHashtag.show(20)

+--------------------+--------------------+-------------------+--------------------+----+
|             content|          created_at|          timestamp|             hashtag|hora|
+--------------------+--------------------+-------------------+--------------------+----+
|Me sinto tão bem ...|Wed Oct 15 14:31:...|2014-10-15 11:31:50|         #QueroNoTVZ|  11|
|#EMABiggestFansJu...|Wed Oct 15 14:31:...|2014-10-15 11:31:50|#EMABiggestFansJu...|  11|
|Dr. Bieber #EMABi...|Wed Oct 15 14:31:...|2014-10-15 11:31:51| #EMABiggestFansJ...|  11|
|MIDNIGHT MEMORIES...|Wed Oct 15 14:31:...|2014-10-15 11:31:51|   #EMABiggestFans1D|  11|
|#EMABiggestFans1D...|Wed Oct 15 14:31:...|2014-10-15 11:31:52|   #EMABiggestFans1D|  11|
+--------------------+--------------------+-------------------+--------------------+----+
only showing top 5 rows

### a) Quais foram as hashtags mais usadas pela manhã, tarde e noite?

In [234]:
dfHashtag_manha=dfHashtag.filter(dfHashtag["hora"]>=6).filter(dfHashtag["hora"]<12);
dfHashtag_manha.count()

118999

In [235]:
print("Top 10 das hastags mais usadas pela manhã:")
dfHashtag_manha.groupby("hashtag").count().sort('count', ascending=False).limit(10).show()

Top 10 das hastags mais usadas pela manhã:
+--------------------+-----+
|             hashtag|count|
+--------------------+-----+
|   #EMABiggestFans1D|27832|
| #EMABiggestFansJ...|23003|
|#EMABiggestFansJu...| 2674|
|   #EMABiggestFans1D| 2313|
|         #QueroNoTVZ| 2217|
|         #QueroNoTVZ| 1402|
| #VoteVampsTeenAw...|  976|
|       #AUSTINMAHONE|  694|
|       #AustinMahone|  620|
|             #trndnl|  482|
+--------------------+-----+

In [236]:
dfHashtag_tarde=dfHashtag.filter(dfHashtag["hora"]>=12).filter(dfHashtag["hora"]<18);
dfHashtag_tarde.count()

267072

In [237]:
print("Top 10 das hastags mais usas pela tarde:")
dfHashtag_tarde.groupBy("hashtag").count().sort('count', ascending=False).limit(10).show()

Top 10 das hastags mais usas pela tarde:
+--------------------+-----+
|             hashtag|count|
+--------------------+-----+
|   #EMABiggestFans1D|57515|
| #EMABiggestFansJ...|52163|
|#EMABiggestFansJu...| 6057|
|        #StealMyGirl| 5918|
|   #EMABiggestFans1D| 4812|
|   #bigpaynodanceoff| 3649|
| #LuanSantanaNaHo...| 2872|
|    #CartersNewVideo| 1679|
|     #FlyNoMixDiario| 1141|
|       #AustinMahone| 1040|
+--------------------+-----+

In [238]:
dfHashtag_noite=dfHashtag.filter(dfHashtag["hora"]>=18).union(dfHashtag.filter(dfHashtag["hora"]<6));
dfHashtag_noite.count()

487219

In [239]:
print("Top 10 das hastags mais usas pela noite:")
dfHashtag_noite.groupBy("hashtag").count().sort('count', ascending=False).limit(10).show()

Top 10 das hastags mais usas pela noite:
+--------------------+------+
|             hashtag| count|
+--------------------+------+
| #EMABiggestFansJ...|104327|
|   #EMABiggestFans1D|104241|
|#EMABiggestFansJu...| 14142|
|       #camilasayshi|  9024|
|   #EMABiggestFans1D|  8587|
|     #TheVoiceBrasil|  2315|
|        #DebateNoSBT|  2229|
|                  #E|  2037|
|        #AssistamODR|  1953|
|          #Vote5HEMA|  1952|
+--------------------+------+

### b) Quais as hashtags mais usadas em cada dia?

In [268]:
dfHashtag_info_data=dfDebateTimestamp.filter(dfDebateTimestamp["content"].rlike(regexHashtag))\
.withColumn("hora",hour("timestamp"))\
.withColumn("dia",dayofmonth("timestamp"))\
.withColumn("mês",month("timestamp"))\
.withColumn("hashtag",regexp_extract("content",regexHashtag,0)).select("dia","mês","hora","hashtag");
dfHashtag_info_data

DataFrame[dia: int, mês: int, hora: int, hashtag: string]

In [260]:
dfHashtag_info_data

DataFrame[dia: int, mês: int, hashtag: string]

In [245]:
dfHashtag_dia_final=dfHashtag_info_data.groupBy("dia","mês","hashtag").count().sort("count", ascending=False)
print("As hastags mais usadas por dia:")
dfHashtag_dia_final.toPandas()

As hastags mais usadas por dia:

         dia   mês                       hashtag  count
0       16.0  10.0             #EMABiggestFans1D  58662
1       16.0  10.0   #EMABiggestFansJustinBieber  46097
2       15.0  10.0             #EMABiggestFans1D  43730
3       15.0  10.0   #EMABiggestFansJustinBieber  40738
4       17.0  10.0             #EMABiggestFans1D  32530
...      ...   ...                           ...    ...
148127  20.0  10.0                      #Tw10000      1
148128  20.0  10.0                   #arisjerome      1
148129  20.0  10.0                     #TeAmoooo      1
148130  20.0  10.0                    #primogato      1
148131  20.0  10.0                   #SemLimites      1

[148132 rows x 4 columns]

### c) Qual o número de tweets por hora a cada dia?

In [270]:
dfHashtag_hora_final=dfHashtag_info_data.groupBy("dia","mês","hora","hashtag").count().sort("count", ascending=False)
print("As hastags mais usadas por hora a cada dia:")
dfHashtag_hora_final.toPandas()

As hastags mais usadas por hora a cada dia:

         dia   mês  hora                       hashtag  count
0       15.0  10.0  22.0   #EMABiggestFansJustinBieber   8738
1       15.0  10.0  22.0                 #camilasayshi   8513
2       15.0  10.0  23.0             #EMABiggestFans1D   6731
3       16.0  10.0  22.0   #EMABiggestFansJustinBieber   6504
4       15.0  10.0  22.0             #EMABiggestFans1D   5994
...      ...   ...   ...                           ...    ...
208921  20.0  10.0   2.0              #TeSigoEsperando      1
208922  20.0  10.0   3.0                        #parei      1
208923  20.0  10.0   4.0           #muitoamorenvolvido      1
208924  20.0  10.0   4.0                          #fui      1
208925  20.0  10.0   4.0                 #ensaiofotogr      1

[208926 rows x 5 columns]

### d) Quais as principais sentenças relacionadas à palavra “Dilma”?

### e) Quais as principais sentenças relacionadas à palavra “Aécio”?

### Questão 3) Dado um dataset com tweets relacionados à visita da Torre Eiffel em Paris, responda:

In [273]:
dfEiffel = spark.read.json("eiffel-tower-reviews.json")
dfEiffel

DataFrame[_id: struct<$oid:string>, author: struct<helpfulVotes:string,level:string,memberSince:string,postForum:string,ratings:string,reviews:string>, bubbleCount: bigint, collectedAt: struct<$date:string>, createdAt: string, query: string, text: string, title: string]

In [278]:
dfEiffel.toPandas()

,_id,author,bubbleCount,collectedAt,createdAt,query,text,title
0,"(5921cdae4b679c4646a52f57,)","(0, 0, Since this month, 0, 0, 2)",50,"(2017-05-21T17:26:06.452Z,)","May 20, 2017",Eiffel_Tower,This is the most busiest atttaction in Paris a...,Must do even it was so busy
1,"(5921cdae4b679c4646a52f58,)","(10, 4, Since Aug 2015, 0, 23, 27)",50,"(2017-05-21T17:26:06.590Z,)","May 20, 2017",Eiffel_Tower,My significant other and I drunkenly stumbled ...,A Classic
2,"(5921cdae4b679c4646a52f59,)","(9, 4, Since Nov 2015, 0, 0, 31)",50,"(2017-05-21T17:26:06.642Z,)","May 20, 2017",Eiffel_Tower,We had a tour to the Eiffel Tower while we wer...,Wet weather
3,"(5921cdae4b679c4646a52f5a,)","(16, 5, Since Apr 2008, 0, 536, 37)",50,"(2017-05-21T17:26:06.721Z,)","May 20, 2017",Eiffel_Tower,Visited with my wife and son.,Not to be missed
4,"(5921cdae4b679c4646a52f5b,)","(30, 6, Since Jan 2014, 0, 36, 181)",50,"(2017-05-21T17:26:06.757Z,)","May 20, 2017",Eiffel_Tower,We went in the night at 10pm to see the illumi...,Awesome!!!
...,...,...,...,...,...,...,...,...
7174,"(59226b566af3a1312785d4f3,)","(0, 0, Since Jul 2015, 0, 0, 2)",30,"(2017-05-22T04:38:46.565Z,)","July 27, 2015",Eiffel_Tower,We recently visited the Eiffel Tower on our tr...,Tour me Eiffel
7175,"(59226b566af3a1312785d4f4,)","(13, 4, Since May 2009, 0, 15, 31)",40,"(2017-05-22T04:38:46.712Z,)","July 27, 2015",Eiffel_Tower,Getting through the lines is impossible or at ...,Bucket list must see
7176,"(59226b566af3a1312785d4f5,)","(47, 5, Since Oct 2010, 0, 1, 76)",50,"(2017-05-22T04:38:46.854Z,)","July 27, 2015",Eiffel_Tower,One must not be there to be served and one wil...,Crowded with awful staff. But who cares? It's ...
7177,"(59226b566af3a1312785d4f6,)","(0, 2, Since Aug 2012, 0, 0, 6)",50,"(2017-05-22T04:38:46.947Z,)","July 27, 2015",Eiffel_Tower,Loved the Eiffel tower this was my 2nd visit a...,AMAZING
7178,"(59226b576af3a1312785d4f7,)","(22, 5, Since Nov 2012, 5, 11, 73)",50,"(2017-05-22T04:38:47.050Z,)","July 27, 2015",Eiffel_Tower,Great experience to go the the Eiffel Tower. M...,Go to the very top!

In [283]:
from pyspark import SparkContext
dfEiffel=dfEiffel.flatMap(lambda line: line.split(" ")).map(lambda word: (word, 1))
dfEiffel.count()

AttributeError: 'DataFrame' object has no attribute 'flatMap'

### a) Encontre as palavras mais utilizadas nas avaliações.

### b) Encontre as expressões mais usadas. Considere uma expressão um conjunto de palavras na sequencia. O tamanho da sequencia pode ser determinado por você.

### c) Encontre os principais tópicos relacionados às revisões.

### d) Mapeie a distribuição temporal das revisões.